

label {
    margin: 1em;
    font-size: 20px;
}

.container {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

input, textarea {
    min-width: 100%;
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: 10px;
}

button {
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    border: none;
    min-width: 95%;
}

button:hover {
    filter: brightness(80%);
}