.container {
    color: white;
    background-image: url("../../assets/challenges-view-background.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #103b40;
    min-height: 100vh;
}

.challenge-header {
    color: blueviolet
}

.challenges-container {
    /* background: rgba(255, 122, 89, .5); */
    background: rgba(146, 202, 199, .9);
    /* opacity: .5; */
    padding-left: 15%;
    color: whitesmoke;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 15%;
}

.profile-content {
    padding-top: 150px;
    margin: 2em;
}

.profile-title {
    margin-left: 3em;
}

.profile-items {
    display: flex;
    color: white;
    flex-direction: column;
    /* margin-left: 50vh; */
    align-items: flex-start;
}

.quest-n-progress {
    display: flex;
    gap: 4em;
}

.sign-out {
    align-self: center;
    width: 90vw;
    padding: 1em;
    margin: 1em;
}