.background-img {
    color: white;
    background-image: url("../../assets/map-view-background.png");
    /* background-size: auto 70%; */
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-color: #09223d; */
}